rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

        //allow read for anyone ADMIN only write
        match /taskList/{documents=**} {
            allow read: if request.auth.token.admin == true;
            allow write: if request.auth.token.admin == true;
        }
        match /timetableTEST/{documents=**} {
            allow read: if request.auth.uid != null;
            allow write: if request.auth.token.admin == true;
        }

        match /vacationRequests/{documents=**} {
            allow read: if request.auth.uid != null;
            allow write: if request.auth.uid != null;
        }
        match /employeeInfo/{documents=**} {
            allow read: if request.auth.token.admin == true;
            allow write: if request.auth.token.admin == true;
        }
    }
}