rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

        //allow read for anyone ADMIN only write
        match /{document=**} {
            allow read: if request.auth.uid != null;
            allow write: if request.auth.token.admin == true;
        }
        //match logged in user doc in users collection
        match /vactionRequests{
            allow create: if request.auth.id != null;
            allow read: if request.auth.id != null;
        }

    }
}