/* Change icon colour for pending vacation requests */
i.icon-red {
    color: #ff5252;
}

/* HIDE SCROLL BARS + TIMETABLE MODAL CHANGE BEHAVIOUR */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.modal-t {
    top: 0px !important;
    max-height: 100% !important;
}

body {
    background-image: url("/img/pattern4.png");
}

/* smaller sized modals */
.modal-small {
    width: 30% !important;
}

#modal-graph {
    top: 10px !important;
    width: 90% !important;
    max-height: 100% !important;
}
